body {
  margin: 0;
  padding: 0;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-wrapper {
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; */
  width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0 10px 5px #dbdbdb;
  box-shadow: 0px 0 10px 5px #dbdbdb;
  background-color: #ffffff;
}

.main-header {
  position: relative;
  z-index: 1;
}

.main-header-logo {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 138px;
  margin-left: -70px;
  z-index: 1;
}

.main-navigation {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 56px;
  list-style: none;
  background-color: #ffffff;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
  margin-left: 150px;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
  margin-right: 165px;
}

.site-navigation li:nth-child(1) {
  margin-left: 70px;
}

.site-navigation li:nth-child(4) {
  margin-right: 70px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}

.site-navigation-current a {
  color: #766357;
}

.main-img {
  position: relative;
  margin-top: -56px;
  margin-bottom: -216px;
  z-index: 0;
}

.main-img::before {
  content: "";
  position: absolute;
  width: 458px;
  height: 352px;
  top: 132px;
  left: 50%;
  margin-left: -230px;
  background-image: url("../img/index-mainfoto-txt.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-img::after {
  content: "";
  position: absolute;
  width: 1200px;
  height: 60px;
  top: 507px;
  left: 0px;
  background-image: url("../img/index-shape-1200.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-description h1 {
  margin: 0 auto;
  padding: 0px 0px 30px 0px;
  width: 450px;
  text-align: center;
}

.main-description p {
  margin: 0;
  padding: 0px 0px 11px 0px;
}

.main-description {
  padding-top: 60px;
  padding-bottom: 42px;
  background-color: #ffffff;
  position: relative;
}

/* .container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
} */

.container h1,
.hotel-description h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
}

.hotel-description h3>a {
  color: #000000;
}

.hotel-description h3>a:hover,
.hotel-description h3>a:focus {
  color: #81b3d2;
}

.hotel-description h3>a:active {
  color: rgba(0, 0, 0, 0.3);
}

.result-found {
  display: inline-block;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
} 

.result-title {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  padding-left: 45px;
} 

.container p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  background-color: #ffffff;
}

.container .result-found {
  display: inline-block;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
} 

.container .result-title {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
} 

.features-list {
  margin: 0px;
  padding: 0px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
}

.feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}

.feature-item-gray {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
  background-color: #eeeeee;
}

.feature-item-text {
  padding-top: 47px;
  width: 400px;
  background-color: #81b3d2;
}

.feature-item-text p {
  margin: 0 auto;
  padding-bottom: 20px;
  width: 302px;
}

.feature-item-text span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 20px;
  width: 302px;
}

.feature-item-text  h3 {
  padding-bottom: 25px;
  margin: 0 auto;
  width: 151px;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}

.feature-item p {
  color: #ffffff;
  background-color: #81b3d2;
}

.features-sublist {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style: none;
}

.feature-sublist-item::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 76px;
  top: 56px;
  left: 50%;
  margin-left: -38px;
  background-image: url("../img/icon-housing.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.feature-sublist-item:nth-child(2)::before {
  background-image: url("../img/icon-food.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.feature-sublist-item:nth-child(3)::before {
  background-image: url("../img/icon-souvenirs.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.feature-sublist-item {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  padding-top: 134px;
  padding-bottom: 82px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  background-color: #ffffff;
}

.feature-sublist-item p {
  margin: 0 auto;
  width: 300px;
  color: #000000;
  background-color: #ffffff;
}

.feature-sublist-item h4 {
  margin: 0;
  padding: 28px 0px 24px 0px;
}

.feature-item-gray {
  width: 400px;
  padding-top: 20px;
  padding-bottom: 36px;
}

.feature-item-gray h3 {
  margin: 0 auto;
  width: 120px;
  padding: 28px 0px 23px 0px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.feature-item-gray p,
.feature-item-gray span {
  margin: 0 auto;
  width: 265px;
  padding: 0px 0px 22px 0px;
  color: #000000;
  background-color: #eeeeee;
}

.feature-item-gray span {
  display: inline-block;
}

.find {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #ffffff;
}

.find h3 {
  margin: 0px;
  padding: 50px 0px 25px 0px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
}

.find p {
  line-height: 24px;
  margin: 0;
  padding: 0px 0px 46px 0px;
}

.button {
  margin: auto;
  padding: 30px 120px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #604e43;
  cursor: pointer;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
  cursor: pointer;
}

.modal-close-open {
  width: 568px;
  position: relative;
}

.map-img {
  margin-bottom: -125px;
}

.modal {
  position: absolute;
  color: #000000;
  background-color: #ffffff;
}
.modal-show {
  display: none;
}

.modal-find {
  top: 100%;
  left: 50%;
  margin-left: -285px;
  max-width: 458px;
  padding: 55px 56px;
}

.find-form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

.find-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 28px;
}

.find-item label {
  width: 112px;
}

.find-item-adult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 232px;
  margin-top: 2px;
}

.find-item-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: auto;
  margin-top: 2px;
}

.find-item-adult label {
  width: 113px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.find-item-child label {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 65px;
  padding-left:3px;
}

.find-form input {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0px 12px;
  min-height: 38px;
  line-height: 38px;
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.find-departure-wrap input,
.find-arrival-wrap input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 345px;
}

.find-adult-wrap input,
.find-child-wrap input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 38px;
  text-align: center;
}

.find-departure-wrap input::-webkit-input-placeholder,
.find-arrival-wrap input::-webkit-input-placeholder, 
.find-adult-wrap input::-webkit-input-placeholder,
.find-child-wrap input::-webkit-input-placeholder {
  color: #000000;
  text-transform: uppercase;
}

.find-departure-wrap input:-ms-input-placeholder,
.find-arrival-wrap input:-ms-input-placeholder, 
.find-adult-wrap input:-ms-input-placeholder,
.find-child-wrap input:-ms-input-placeholder {
  color: #000000;
  text-transform: uppercase;
}

.find-departure-wrap input::-ms-input-placeholder,
.find-arrival-wrap input::-ms-input-placeholder, 
.find-adult-wrap input::-ms-input-placeholder,
.find-child-wrap input::-ms-input-placeholder {
  color: #000000;
  text-transform: uppercase;
}

.find-departure-wrap input::placeholder,
.find-arrival-wrap input::placeholder, 
.find-adult-wrap input::placeholder,
.find-child-wrap input::placeholder {
  color: #000000;
  text-transform: uppercase;
}

.find-departure-wrap,
.find-arrival-wrap {
  position: relative;
  margin-left: auto;

}

.find-adult-wrap,
.find-child-wrap {
  display: flex;
  width: 114px;
}

.find-form input:hover,
.find-form input:focus {
  background-color: #ebebeb;
}

.find-arrival-calendar,
.find-departure-calendar {
  padding: 0px;
  position: absolute;
  top: 9px;
  right: 9px;
  width: 22px;
  height: 22px;
  background-color: #f2f2f2;
  font-size: 0;
  border: 0;
  cursor: pointer;
}

.button-plus {
  padding: 0px;
  position: relative;
  width: 38px;
  height: 38px;
  font-size: 0;
  border: 0;
  background-color: #f2f2f2;
  cursor: pointer;
}

.button-plus::before,
.button-plus::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;
  left: 13px;
  background-color: #a9a9a9;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.button-plus::after {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}

.button-minus {
  padding: 0px;
  position: relative;
  width: 38px;
  height: 38px;
  font-size: 0;
  background-color: #f2f2f2;
  border: 0;
  cursor: pointer;
}

.button-minus::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;
  left: 13px;
  background-color: #a9a9a9;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.find-arrival-calendar:hover path,
.find-arrival-calendar:focus path,
.find-departure-calendar:hover path,
.find-departure-calendar:focus path {
  fill: #000000;
}

.find-arrival-calendar:active path,
.find-departure-calendar:active path {
  fill: #81b3d2;
}

.button-minus:hover::before,
.button-minus:focus::before,
.button-plus:hover::before,
.button-plus:focus::before,
.button-plus:hover::after,
.button-plus:focus::after {
  background-color: #000000;
}

.button-minus:active::before,
.button-plus:active::before,
.button-plus:active::after {
  background-color: #81b3d2;
}

.find-button {
  background-color: #81b3d2;
  min-width: 458px;
  margin-top: 56px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.find-button:hover,
.find-button:focus,
.hotel-more:hover,
.hotel-more:focus {
  background-color: #669ec0;
}

.find-button:active,
.hotel-more:active {
  color:rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../img/hotels-filter-bg-1200.jpg);
  background-color: #567a9e;
  margin-top: -56px;
  padding-top: 84px;
  padding-left: 71px;
  padding-right: 71px;
}

.filter-form {
  width: 100%;
  padding-bottom: 32px;
}
.filter-form fieldset {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.filter-form legend {
  padding: 0px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.filter-form ul {
  margin: 0px 0px 0px 3px;
  padding: 0px 0px 0px 38px;
}

.filter-form li {
  padding-top: 24px;
  list-style-type: none;
}

.filter-option label {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-option label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  left: -40px;
  top: -2px;
  background: url(../img/icon-checkbox-off.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.filter-input-checkbox:checked + label::before {
  background: url(../img/icon-checkbox-on.svg);
  background-repeat: no-repeat;
}

.filter-input-checkbox:disabled + label::before {
  background: url(../img/icon-checkbox-off-disabled.svg);
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked:disabled + label::before {
  background: url(../img/icon-checkbox-on-disabled.svg);
  background-repeat: no-repeat;
}

.filter-infrastructure,
.filter-housing {
  width: 255px;
}

.filter-cost {
  width: 318px;
  margin-left: auto;
  color: #ffffff;
  text-transform: uppercase;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 57px;
}

.price-controls input {
  padding: 0px;
  width: 50px;
  height: 32px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  padding: 2px;
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-show {
  display: block;
  margin: 0px 95px 0px 85px;
  padding: 6px 34px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-show:hover {
  color: #000000;
  background: #ffffff;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding: 9px 73px;
  border-bottom: 1px solid #e5e5e5;
}

.filter-result-current,
.filter-result-option {
  display: inline-block;
}

.filter-result-up,
.filter-result-down {
  display: inline-block;
  padding-left: 9px;
}

.filter-result-option a {
  position: relative;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #b2b2b2;
  border-bottom: 1px dashed #81b3d2;
  text-transform: uppercase;
  margin-left: 28px;
}

.filter-result-current a {
  position: relative;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #81b3d2;
  text-transform: uppercase;
  margin-left: 35px;
}

.filter-result-option a:hover,
.filter-result-option a:focus {
  color: #81b3d2;
}

.filter-result-option a:active {
  color: #000000;
  border-bottom: none;
}

.filter-result-up a:hover path,
.filter-result-up a:focus path,
.filter-result-down a:hover path,
.filter-result-dovn a:focus path {
  fill: #231f20;
}

.filter-up-down {
  margin-left: auto;
}

.filter-result-up a:active path,
.filter-result-down a:active path {
  fill: #81b3d2;
}

.filter-result ul {
  margin: 0px;
  padding: 0px;
  min-width: 30px;
  list-style-type: none;
}

.filter-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 810px;
  margin-left: auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hotel-more,
.booking-button {
  padding: 3px 16px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}
.hotel-more {
  background-color: #81b3d2;
  margin: 0px 7px 0px 0px;
}

.main-footer {
  position: relative;
  padding: 34px 0px 40px 0px;
  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer b {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.footer-hashtag {
  margin: 0px;
  padding-left: 5px;
  display: inline-block;
  width: 390px;
  vertical-align: middle;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-social {
  margin: 0px;
  padding: 2px 0px 0px 5px;
  display: inline-block;
  width: 390px;
  vertical-align: middle;
  text-align: center;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
 }

.social-button:active path {
  fill: #88b6d1;
}

.footer-copyright {
  margin: 0px;
  padding-left: 8px;
  display: inline-block;
  width: 390px;
  vertical-align: middle;
  text-align: center;
}

.footer-copyright b,
.footer-copyright a{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.footer-copyright a{
  padding-top: 2px;
}

.copy-logo {
  width: 115px;
  height: 42px;
  margin-left: 5px;
}

.copy-logo:hover path,
.copy-logo:focus path {
  fill: #81b3d2;
}

.copy-logo:active path {
  fill: #bdbbbc;
 }

.hotel {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none;
}

.hotel-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 30px 73px;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-description-type {
  margin-top: -7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotel-description-type span {
  min-width: 116px;
}

.hotel-description-text {
  height: 90px;
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: 30px;
}

.hotel-description-text h3 {
  margin: -4px 0px 0px 0px;
  letter-spacing: 0.1;
}

.hotels-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.rating-text {
  padding: 3px 14px;
  background-color: #f2f2f2;
}

.hotel-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 90px;
  margin-left: auto;
}

.rating-star {
  display: inline-block;
}

.rating-star img {
  margin-left: 2px;
}

.hotel-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}