body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.page-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.main-header-logo {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 138px;
  margin-left: -70px;
  z-index: 1;  
}

.main-navigation {
  position: relative;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
  list-style: none;
  background-color: #ffffff;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
  margin-left: 150px;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
  margin-right: 165px;
}

.site-navigation li:nth-child(1) {
  margin-left: 70px;
}

.site-navigation li:nth-child(4) {
  margin-right: 70px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}

.site-navigation-current a {
  color: #766357;
}

.main-img {
  position: relative;
  margin-top: -56px;
  margin-bottom: -216px;
  z-index: -2;
}

.main-img::before {
  content: "";
  position: absolute;
  width: 458px;
  height: 352px;
  top: 132px;
  left: 50%;
  margin-left: -230px;
  background-image: url("../img/index-mainfoto-txt.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-img::after {
  content: "";
  position: absolute;
  width: 1200px;
  height: 60px;
  top: 507px;
  background-image: url("../img/index-shape-1200.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-description h1 {
  margin: 0;
  padding: 0;
  padding-bottom: 27px;
}

.main-description p {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.main-description {
  padding-top: 60px;
  padding-bottom: 42px;
  background-color: #ffffff;
}

.container h1,
.hotel-description h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
}

.hotel-description h3:hover,
.hotel-description h3:focus {
  color: #81b3d2;
}

.hotel-description h3:active {
  color: #b2b2b2;
}

.container p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  background-color: #ffffff;
}

.features-list {
  margin: 0px;
  padding: 0px;
  display:flex;
  flex-wrap: wrap;
  list-style: none;
}

.feature-item {
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
  flex-wrap: wrap;
  text-align: center;
}

.feature-item-gray {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  text-align: center;
  background-color: #eeeeee;
}

.feature-item-text {
  padding: 0;
  margin: 0;
  padding-top: 26px;
  width: 400px;
  background-color: #81b3d2;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}

.feature-item p {
  color: #ffffff;
  background-color: #81b3d2;
}

.features-sublist {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-basis: 100%;
  justify-content: space-around;
  list-style: none;
}

.feature-sublist-item::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  top: 57px;
  left: 50%;
  margin-left: -40px;
  background-image: url("../img/icon-housing.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.feature-sublist-item:nth-child(2)::before {
  background-image: url("../img/icon-food.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.feature-sublist-item:nth-child(3)::before {
  background-image: url("../img/icon-souvenirs.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.feature-sublist-item {
  flex-basis: 100%;
  flex-grow: 1;
  position: relative;
  padding-top: 133px;
  padding-bottom: 75px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.feature-sublist-item p {
  padding: 0;
  margin: 0;
  color: #000000;
  background-color: #ffffff;
}

.feature-sublist-item h4 {
  padding: 0;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 20px;
}

.feature-item-gray h3,
.feature-item-gray p {
  color: #000000;
  background-color: #eeeeee;
}

.find b {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
}

.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #604e43;
}

.button:active {
  color: #857871;
  background-color: #503e33;
}

.find-form p {
  font-weight: 700;
}

.find-form input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.find-form input:hover,
.find-form input:focus {
  background-color: #ebebeb;
}

.find-button,
.hotel-more {
  background-color: #81b3d2;
}

.find-button:hover,
.find-button:focus,
.hotel-more:hover,
.hotel-more:focus {
  background-color: #669ec0;
}

.find-button:active,
.hotel-more:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.hotel-more,
.booking-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.main-footer {
  display: flex;
  justify-content: space-around;
}

.main-footer b {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.hotel {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.hotel-description {
  display: flex;
  justify-content: space-between;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.hotel-catalog {
 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-color: 1px solid red;
}

.filter-form {
  display: flex;
  justify-content: space-around;
 
}
